<div class="pop-up-data">
  <div class="item-data">
    <p>Id : <span>{{data.id}} </span></p>
    <p>
    <p>User : <span>{{data.user}} </span></p>
    <p>      
      Category : <span> {{data.category}}</span>
    </p>
    <p>
      Description : <span> {{data.task_desc}}</span>
    </p>
    <div class="image-section">
      <div class="image-container">
        <p>
          <a href="{{ data.doc_img.url }}" download> <img src="{{ data.doc_img.url }}" alt="pic"> </a>        
         <P>Click image to download</P>
         
        </p>
  
      </div>
  
    </div>
    
  </div>
  
  
  
  
  
</div>

