{% extends 'main/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<section id="post-entries" >
  {%include 'include/user-info.html'%}
  <div class="body-area">
    <div class="title-div">
      <h4>Post Task Entry</h4>
    </div>
    
    <div class="table-container"  >   
        {% include 'include/error-messeges.html'%}
          <div class="table-container-wrapper">
            <form action="" method="POST">
              {% csrf_token %}
              <div class="table-wrapper">
                <table id=' table' >
                  <thead class="thead-light">
                    <tr>
                      <th >Checkbox</th>                  
                      <th >User</th>                  
                      <th >Document</th>       

                      <th >category</th>
                      <th >task_desc</th>
                      <th >Date From</th>
                      <th >Date To</th>
                      <th >View</th>
                    </tr>
                  </thead>
                  
                  <tbody id="tbody" class="table-body">
                    {% if data %}
                      {% for item in data %}
          
                      <tr id="categ-id-{{item.id}}">
                        {% if item.is_posted %}
                        <td> 
                          <div  data-cell='Check to Post 'class="form-check">
                            <input class="form-check-input form-check-posted" type="checkbox" checked="checked" value="{{item.id}}" name="boxes"  disabled
                            >

                          </div>
                        </td>
                        {% else %}
                        <td data-cell='Check to Post '> 
                          <input class="form-check-input form-check-not-posted" type="checkbox"  value="{{item.id}}" name="boxes" >
                        </td>               
                        {% endif %}
                        
                        <td data-cell='User' class="td-text td-text-name">{{item.user}}</td>                        
                        {% if item.doc_img%}
                          <td data-cell='Document '>
                            <img src="{{item.doc_img.url}}" alt="pic" class="item-image-size-inlist" >
                          </td>
                        {% else %}
                          <td data-cell='Document '>
                            <img src="{% static 'image-default/default-image.png' %}" alt="pic" class="item-image-size-inlist" >
                          
                          </td>     
                        {% endif %}               
      
                        <td data-cell='Category' class="td-text td-text-name">{{item.category}}</td>
                        <td data-cell='Description' class="td-text-ref">{{item.task_desc}}</td>
                        <td data-cell='Date (From)' class="td-text-ref">{{item.date_from}}</td>
                        <td data-cell='Date (To)' class="td-text-ref">{{item.date_to}}</td>

                        <td data-cell='View REcord'>view
                          <a
                          class="open-incident"
                          href="{% url 'app_task:view-item' item.id %}"
                          data-popup-url="{% url 'app_task:view-item' item.id%}"
                          >{{ item.id }}</a>

                      </td>                         
                                        
                      </tr>
                      {% endfor %}
                    {% endif %}

                  </tbody>
                  
                </table>

              </div>


            <input class="btn btn-mybtn" type="submit" value="Submit">

            </form>
            
            {% include "app_task/incident-modal.html" %}
          </div>
    </div>     
  </div>
</section>




<link rel="stylesheet" href="{% static 'css/app-task-postentry.css' %}">

<!-- To place above the incident-modal html -->
<script>
  $(document).on("click", ".open-incident", function (e) {
    e.preventDefault();
    var $popup = $("#popup");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
      $popup.modal("show");
    });
  });
</script>

{% endblock %}

