{% load crispy_forms_tags %}
{% load static %}


<div class="row">
  <div class="col-lg-6 col-sm-6">
    {{form_enrollment.student|as_crispy_field}}
    {% for error in form_enrollment.student.errors %}
    <p><small class="alert-danger">{{ error }}</small></p>
    {% endfor %}
  </div>  
  <div class="col-lg-6 col-sm-6">
    {{form_enrollment.course|as_crispy_field}}
    {% for error in form_enrollment.course.errors %}
    <p><small class="alert-danger">{{ error }}</small></p>
    {% endfor %}
  </div>
</div>

 <div class="row">
  <div class="col-lg-12 col-sm-12">
    {{form_enrollment.date_enrolled|as_crispy_field}}

  </div>  
 </div>

 
 <div class="row">
  <div class="col-lg-12 col-sm-12">
    {{form_enrollment.final_grade|as_crispy_field}}

  </div>  
 </div>


 