{% load static %}
<div class="menu-btn">
  <i class="fas fa-bars"></i>
</div>

<div class="side-bar">

  <div class="close-btn">
    <i class="fas fa-times"></i>

  </div>

  <div class="menu">

    {% if user.is_authenticated %}
      {% if not user.user.new_user %}
      <!-- document entries -->
      <div class="item ">
        <a class="sub-btn">
          <!-- inserting google icons material-symbols-outlined -->
          <span class="material-symbols-outlined icon1-submenu">post_add</span>
        &nbsp;
         Entries
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <div class="item ">
            <a href="{% url 'app_task:task-dashboard' %}" class="sub-item">Task entry</a>  
          </div> 
          <div class="item ">
            <a href="{% url 'app_task:post-entries' %}" class="sub-item">Post entry</a>  
          </div>        

          
          <div class="item ">
            <a href="{% url 'app_task:dashboard-mfo' %}" class="sub-item">MFO dashboard</a>  
          </div>        

          <div class="item ">
            <a href="{% url 'app_task:dashboard-mfosub' %}" class="sub-item">MFOsub dashboard</a>  
          </div>      

          <div class="item ">
            <a href="{% url 'app_task:dashboard-mfosub2' %}" class="sub-item">MFOsub2 dashboard</a>  
          </div>     
          
        </div>

      </div>  
      {% if user.user.Programmers %}
      <div class="item ">
        <a class="sub-btn">
          <!-- inserting google icons material-symbols-outlined -->
          <!-- <span class="material-symbols-outlined icon1-submenu">post_add</span> -->
        &nbsp;
        Programmers Sample
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <div class="item ">
            <a href="{% url 'app_query:query-dashboard' %}" class="sub-item">query DAshboard using Tasktable</a>  
          </div> 
          <div class="item ">
            <a href="{% url 'app_query:query-classroom' %}" class="sub-item">query Classroom</a>  
          </div>
          <div class="item ">
            <a href="{% url 'app_query:queryTableModal' %}" class="sub-item">query tASK Tables Modal</a>  
          </div>
          <div class="item ">
            <a href="{% url 'app_query:queryAllModal' %}" class="sub-item">query All Tables Modal</a>  
          </div>          
          <div class="item ">
            <a href="{% url 'app_query:employeeRelation' %}" class="sub-item">Enrollment - Many to Many</a>  
          </div>          

        </div>
      </div>  
       <!-- many to many -->
      <div class="item ">
        <a class="sub-btn">
          <!-- inserting google icons material-symbols-outlined -->
          <!-- <span class="material-symbols-outlined icon1-submenu">post_add</span> -->
        &nbsp;
        Programmers App_manyToMany
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <div class="item ">
            <a href="{% url 'app_manytomany:StudentDashboard' %}" class="sub-item">Student Dashboard</a>  
          </div> 
   

        </div>
      </div>    
      
      <!-- restapi  -->
      <div class="item ">
        <a class="sub-btn">
          <!-- inserting google icons material-symbols-outlined -->
          <!-- <span class="material-symbols-outlined icon1-submenu">post_add</span> -->
        &nbsp;
        app_todo
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <div class="item ">
            <a href="{% url 'app_todo:todo_dashboard' %}" class="sub-item">Todo Dashboard</a>  
          </div> 
   

        </div>
      </div>   
      {% endif%}  
          
             
      {% endif%}  

      <div class="item ">
        <a href="{% url 'app_accounts:logout-view' %}">
          <i class="fas fa-info-circle"></i>Logout
        </a>
      </div>     
  

    {% else %}
      <div class="item ">
        <a href="{% url 'app_accounts:login-view' %}"><i class="fa-solid fa-door-open"></i>Login</a>
      </div>      
    {% endif %}  
    <div class="item "><a href="#"><i class="fas fa-info-circle"></i>About</a>
    </div>          

  </div>

</div>
  
<script type="text/javascript">
  $(document).ready(function(){
    // jquery for toggle menu
    $('.sub-btn').click(function(){
      // e.preventDefault();
      $(this).next('.sub-menu').slideToggle();
      $(this).find('.dropdown').toggleClass('rotate');


    })

    $('.menu-btn').click(function(){
      $('.side-bar').addClass('active');
      $('.menu-btn').css("visibility","hidden")

    })

    $('.close-btn').click(function(){
      $('.side-bar').removeClass('active')
      $('.menu-btn').css("visibility","visible")

    })
  

  })


</script>

<link rel="stylesheet" href="{% static 'css/custom-sidebar.css' %}">
